/OnlineAuctionSystem/build/
/OnlineAuctionSystem/nbproject/private/
/OnlineAuctionSystem/dist/
/OnlineAuctionSystem/OnlineAuctionSystem/build/
/OnlineAuctionSystem/OnlineAuctionSystem/dist/
/OnlineAuctionSystem/OnlineAuctionSystem/nbproject/private/