#main{
     min-height: 71vh;
}

.item-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.item-card img {
    max-width: 100%;
    height: auto;
    border-bottom: 1px solid #ddd;
}
.item-card-body {
    padding: 15px;
}
.item-card-body h5 {
    margin-bottom: 10px;
}
.item-card-body p {
    margin-bottom: 15px;
}
.alert-container {
    margin-top: 20px;
}