 /* Header */
#navbar-container {
  height: 6rem;
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 5;
 background: linear-gradient(0deg, rgba(34,71,112,1) 16%, rgba(1,23,50,1) 87%) !important;

}

.nav-menu-item {
  margin: 1rem;
  cursor: pointer;
  text-decoration: none;
  color: white;
  font-size: 16px;
  font-weight: 600;
}

.nav-menu-item:hover {
  padding-bottom: 0.5rem;
  color:rgba(255,152,0,1);
  text-decoration: none;
  border-bottom: 3px solid rgba(255,152,0,1);
}

.nav-img {
    border-radius: 100%;
  width: 80px !important;
  height: 80px;
  object-fit: cover;
}


.nav-menu-img {
  display: none;
  width: 80px;
  object-fit: cover;
}

.navmenu {
  position: absolute;
  top: 6rem;
  right: 1rem;
  z-index: 3;
  width: 200px;
  background: white;
  border: 1px solid #0387b7;
  border-radius: 0.5rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
}

/* Dropdown menu styling */

.dropdown button{
    padding: 10px;
    border-radius: 20px;
    border: none;
    background: linear-gradient(0deg, rgba(255,165,0,1) 16%, rgba(255,140,0,1) 87%) !important;
}
.dropdown button:hover{
        background: linear-gradient(0deg, rgba(204,132,0,1) 16%, rgba(179,98,0,1) 87%) !important;
    }
.dropdown-menu {
  background-color: #e0f7fa !important;
}

.dropdown-item {
  font-size: 1rem !important;
  color: #224770 !important;
}

.dropdown-item:hover {
  background-color: #f8f9fa !important; /* Optional hover effect */
}


/* Footer */
.footer {
  text-align: center;
  padding: 2rem;
   background: linear-gradient(0deg, rgba(34,71,112,1) 16%, rgba(1,23,50,1) 87%) !important;
  color: white;
  font-size: 0.9rem;
}

.footer span {
  font-weight: 700;
}