/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
   background: linear-gradient(180deg, 
  rgba(3, 47, 100, 0.68) 0%, 
  rgba(12, 61, 118, 0.32) 29%, 
  rgba(12, 61, 118, 0.32) 70%, 
  rgba(3, 47, 100, 0.68) 100%);

}
/* Navbar */
#navbar-container {
    height: 6rem;
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 5;
    background: linear-gradient(0deg, rgba(34,71,112,1) 16%, rgba(1,23,50,1) 87%) !important;

}

.nav-menu-item {
    margin: 1rem;
    cursor: pointer;
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: 600;
}

.nav-menu-item:hover {
    padding-bottom: 0.5rem;
    color:rgba(255,152,0,1);
    text-decoration: none;
    border-bottom: 3px solid rgba(255,152,0,1);
}

.nav-img {
    border-radius: 100%;
    width: 80px !important;
    height: 80px;
    object-fit: cover;
}


.nav-menu-img {
    display: none;
    width: 80px;
    object-fit: cover;
}

.navmenu {
    position: absolute;
    top: 6rem;
    right: 1rem;
    z-index: 3;
    width: 200px;
    background: white;
    border: 1px solid #0387b7;
    border-radius: 0.5rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
}

/* Dropdown menu styling */

.dropdown button{
    padding: 10px;
    border-radius: 20px;
    background: linear-gradient(0deg, rgba(255,165,0,1) 16%, rgba(255,140,0,1) 87%) !important;
}
.dropdown button:hover{
    background: linear-gradient(0deg, rgba(204,132,0,1) 16%, rgba(179,98,0,1) 87%) !important;
}
.dropdown-menu {
    background-color: #e0f7fa !important;
}

.dropdown-item {
    font-size: 1rem !important;
    color: #224770 !important;
}

.dropdown-item:hover {
    background-color: #f8f9fa !important; /* Optional hover effect */
}


/* Image Slider */
.carousel {
    background-image:linear-gradient(rgba(0,0,0,1),rgba(0,0,0,1))!important;
    width: 100%;
    max-width: 100%;
    height: 80vh;
    overflow: hidden;
    position: relative;

}


.carousel-item img {
    height: 100vh; 
    object-fit: cover; 
    width: 100%;
}

.carousel-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); 
    z-index: 1; 
}

.carousel-caption {
    position: fixed; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    text-align: center;

    pointer-events: none; 
}

.carousel-caption h1 {
    color:rgba(255,152,0,1); 
    font-size: 100px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    position: relative;
    left:50%;
}
/* About Us */
/* About Us */
#about {
    padding: 5rem 2rem;
    background: #f2f2f2;
}

.about-tit {
    font-size: 2.5rem;
    color: #224770;
    font-weight: 700;
    margin-bottom: 2rem;
    text-align: center;
}

.about-img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
}

.about-container {
    text-align: justify;
}

.about-text {
    font-size: 1.1rem;
    color: #555;
    line-height: 1.6;
}


/* Services */
#services {
    padding: 5rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.services-tittle {
    font-size: 2.5rem;
    color: #224770;
    font-weight: 700;
    margin-bottom: 2rem;
    text-align: center;
}

.services-para {
    margin-bottom: 2rem;
    text-align: center;
    font-size: 1.1rem;
    color: #555;
}

.services-bars {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2rem;
}

.services-bar {
    width: 45%;
    padding: 2rem;
    background: white;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.services-bar:hover {
    transform: translateY(-5px);
}

.services-bar-text {
    text-align: center;
}

.services-bar h2 {
    font-size: 1.8rem;
    color: #224770;
    font-weight: 700;
    margin-bottom: 1rem;
}

.services-bar p {
    font-size: 1.1rem;
    color: #555;
    line-height: 1.6;
}

/* Contact */
#contact {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.2);
    border: 10px;

}

#contact label{
    font-weight: bold;
    color: #224770;
    margin-bottom: 4px;
}
.contact-tittle {
    font-size: 2.5rem;
    color: #224770;
    font-weight: 700;
}

.form-control {
    font-size: 1.1rem;
    border-radius: 5px;
}

.btn-primary {
    background: #224770 !important;
    border: none !important;
    width: 100px;
    margin-top: 20px;
}

.btn-primary:hover {
    background-color: #04587d;
}

.links {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.link {
    width: 40px;
    height: auto;
    object-fit: cover;
}

/* Footer */
.footer {
    text-align: center;
    padding: 2rem;
    background: linear-gradient(0deg, rgba(34,71,112,1) 16%, rgba(1,23,50,1) 87%) !important;
    color: white;
    font-size: 0.9rem;
}

.footer span {
    font-weight: 700;
}
