body{
    background-color: white;
}

#row1{
    height: 560px;
    overflow: hidden;
    background-color:transparent;
    transition: opacity 0.5s ease;
    z-index: 1000;
    margin-top: 30px !important;

}

#row2{
    height: 100% ;
    width: 100%;
    margin: auto;
}
#imgSection{
    height: 100% ;
    padding: 0;
    border-radius: 16px 0 0 16px;
    overflow: hidden;

}

#loginSection{
    border-radius: 0 16px 16px 0;
    overflow: hidden;
    background-color: #e8e9ea;
    height: auto;
}

#loginSection #signInLogo{
    color: black;
    text-decoration: none;
    font-weight: bold;
    letter-spacing: 2px;
}
#signIn{
    font-weight: 700;
    margin-left: 20px;
    text-decoration: underline;
}


@media (max-width: 961px) {
    #hidePopupButton{
        top:10px;
    }
    #row1{
        height: 540px;
    }

}
@media (max-width: 700px) {
    #row1{
        position: relative;
        right: 0;
    }

}

@media (max-width: 576px) {
    #row1{
        display: none;
    }
}