#main{
      margin-top: 10px;
      padding-top: 10px;
       padding-bottom: 50px;
       margin-bottom:-40px;
        background-image:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url('../JspFiles/images/SellerSide.jpg');
   background-repeat: no-repeat;
    background-size: cover;
  
}
.container{
      height:auto;
    max-width: 1200px;
    background: rgba(234, 228, 228, 0.19);
    border: 2px solid rgba(251, 251, 251, 0.55);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    z-index:1000;
   padding: 20px;
   width: 80%;
}


h1{
    text-align: center;
   color: rgba(255,165,0,1);
}

.container img{
    height: 100px; 
    width: 100px;
    margin-left: 5px;
}

.btn {
    background: linear-gradient(0deg, rgba(255,165,0,1) 16%, rgba(255,140,0,1) 87%) !important;
  border:none;
  width:160px;
  margin-left: 10px;
}
.backButton{
    margin-left:120px;
    margin-top: 20px;
    width: auto;
}

.container img{
    height: 150px; 
    width: 150px;
}

.container .col-md-4 p{
    color: #545253;
}

#main p{
    color:white;
    font-size: 16px;
}

#description{
      background: rgba(234, 228, 228, 0.19);
  padding: 20px;
  border-radius: 10px;
}
@media(max-width: 576px){
    .container{
        width: 75%;
    }
}
