

body {
   background: linear-gradient(180deg, 
  rgba(3, 47, 100, 0.68) 0%, 
  rgba(12, 61, 118, 0.32) 29%, 
  rgba(12, 61, 118, 0.32) 70%, 
  rgba(3, 47, 100, 0.68) 100%);

}

#row1{
    height: 560px;
    overflow: hidden;
    background-color:transparent;
    transition: opacity 0.5s ease;
    z-index: 1000;
    
}
/*#row2 ,#row2SecondForm{
    height: 100% ;
    width: 100%;
    margin: auto;
}*/
#imgSection{
    height: 100% ;
    padding: 0;
    border-radius: 16px 0 0 16px;
    overflow: hidden;
}

#loginSection{
    border-radius: 0 16px 16px 0;
    overflow: hidden;
    background-color: white;
    height: auto;
}
#signIn{
    font-weight: 700;
    margin-left: 20px;
    text-decoration: underline;
}

.secondForm{
    background-color: white;
    border-radius: 10px;
    z-index: 1000;
}
.secondFormSubmit{
    width: 88%;
    margin: auto;
    background-color: #151313;
    color: white;
    border: none;

}

#forgotPasswordSecondForm{
    color: grey;
}

.secondFormSubmit form label{
    font-size: 13px;
}

#container label{
     font-size: 13px;
    color: grey;
}

#alertContainer {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1000;
    max-width: 300px;
    background-color: darkred;
    border-color: darkred;
    color: white;
    padding: 10px 20px;
    border: 1px solid transparent;
    border-radius: 5px;
    display: none;
    animation: slideInRight 0.5s ease-out forwards;
}

@keyframes slideInRight {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
}


@media (max-width: 961px) {
    #hidePopupButton{
        top:10px;
    }
    #row1{
        height: 540px;
    }

}

@media (max-width: 700px) {
    #row1{
     position: relative;
        right: 0;
    }

}

@media (max-width: 768px) {
    #container {
        display: none;
    }

}

@media (min-width: 768px) {

    .container2{
        display: none;
    }
}