#main{
      margin-top: 20px;
      padding-top: 10px;
       padding-bottom: 50px;
       margin-bottom:20px;
        background-image:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url('../JspFiles/images/SellerSide.jpg');
   background-repeat: no-repeat;
    background-size: cover;
  
}

.container {
    margin-top: 40px;
    min-height: 71vh;
    height:auto;
}

.nav-buttons a {
    margin-right: 10px;
    background-color: #343a40;
    border-color: #343a40;
    color: #ffffff;
      
}

.nav-buttons a:hover {
    background-color:rgba(255,165,0,1);
    color: #343a40;
}

h1 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
     color: rgba(255,165,0,1);
}

.table thead th {
    background-color: #343a40;
    color: #ffffff;
    border: none;
}

.table tbody tr {
    transition: background-color 0.3s;
}

.table tbody tr:hover {
    background-color: #2a2a2a;
}

.table img {
    height: 100px;
    width: 100px;
    
    border-radius: 5px;
    border: 1px solid #dee2e6;
}

.table .btn {
  
    margin: 0 5px;
}

.no-items {
    text-align: center;
    font-style: italic;
    color: #cccccc;
}

 #countdown {
                background-color: #f8f9fa;
                padding: 10px;
                border-radius: 8px;
                box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
                text-align: center;
            }
            .countdown-timer {
                font-size: 1.2rem;
                font-weight: bold;
            }