.container {
    margin-top: 30px;
    min-height: 55vh;
    height:auto;
}

.nav-img {
    width: 100px;
}
.table-hover tbody tr:hover {
    background-color: #f5f5f5;
}
.table thead th {
    background-color: #343a40;
    color: #ffffff;
    border-bottom: 2px solid #dee2e6;
}
.table tbody td {
    vertical-align: middle;
}
.table img {
    border-radius: 8px;
}
.btn-group .btn {
    margin-right: 5px;
}
footer {
    text-align: center;
    margin-top: 20px;
    padding: 10px 0;
    background-color: #343a40;
    color: #ffffff;
}
.backButton{
     background: linear-gradient(0deg, rgba(255,165,0,1) 16%, rgba(255,140,0,1) 87%) !important;
    margin-left:120px;
    margin-top: 20px;
    width: auto;
    border:none;
}