
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Hide the nested dropdown initially */
.dropdown-submenu {
  position: relative;
}

.dropdown-submenu .dropdown-menu {
  top: 0;
  left: 55%;
  margin: 0;
  border-radius: 0;
  width:50px !important;
}

/* Show the nested dropdown on hover */
.dropdown-submenu:hover > .dropdown-menu {
  display: block;
}


/* Image Slider */
.carousel {
    background-image:linear-gradient(rgba(0,0,0,1),rgba(0,0,0,1))!important;
    width: 100%;
    max-width: 100%;
    height: 80vh;
    overflow: hidden;
    position: relative;

}


.carousel-item img {
    height: 100vh; 
    object-fit: cover; 
    width: 100%;
}

.carousel-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); 
    z-index: 1; 
}

.carousel-caption {
    position: fixed; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    text-align: center;

    pointer-events: none; 
}

.carousel-caption h1 {
    color:rgba(255,152,0,1); 
    font-size: 100px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    position: relative;
    left:50%;
}

/* About Us */
#about {
    padding: 5rem 2rem;
   background-color: #E0E0E0;
}

.about-tit {
    font-size: 2.5rem;
    color: #333333;
    font-weight: 700;
    margin-bottom: 2rem;
    text-align: center;
}

.about-img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
}

.about-container {
    text-align: justify;
}

.about-text {
    font-size: 1.1rem;
    color: #555;
    line-height: 1.6;
}


/* Services */
#services {
    padding: 5rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.services-tittle {
    font-size: 2.5rem;
     color: #333333;
    font-weight: 700;
    margin-bottom: 2rem;
    text-align: center;
}

.services-para {
    margin-bottom: 2rem;
    text-align: center;
    font-size: 1.1rem;
    color: #333333;
}

.services-bars {
    
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2rem;
}

.services-bar {
    width: 45%;
    padding: 2rem;
    background-color: #E0E0E0;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.services-bar:hover {
    transform: translateY(-5px);
}

.services-bar-text {
    text-align: center;
}

.services-bar h2 {
    font-size: 1.8rem;
    color: #333333;
    font-weight: 700;
    margin-bottom: 1rem;
}

.services-bar p {
    font-size: 1.1rem;
    color: #555;
    line-height: 1.6;
}

/* Contact */
#contact {
   background-color: #E0E0E0 !important;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border: 10px;

}

#contact label{
    font-weight: bold;
    color: #333333;
    margin-bottom: 4px;
}
.contact-tittle {
    font-size: 2.5rem;
    color: #333333;
    font-weight: 700;
}

.form-control {
    font-size: 1.1rem;
    border-radius: 5px;
}

.btn-primary {
     background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(6,7,8,1) 40%, rgba(26,30,36,1) 80%, rgba(44,48,53,1) 100%, rgba(255,255,255,1) 100%);
    border: none !important;
    width: 100px;
    margin-top: 20px;
}

.btn-primary:hover {
    background-color: #04587d;
}

.links {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.link {
    width: 40px;
    height: auto;
    object-fit: cover;
}

