

#row1{
    height: 560px;
    overflow: hidden;
    background-color:transparent;
    transition: opacity 0.5s ease;
    z-index: 1000;
    
}
/*#row2 ,#row2SecondForm{
    height: 100% ;
    width: 100%;
    margin: auto;
}*/
#imgSection{
    height: 100% ;
    padding: 0;
    border-radius: 16px 0 0 16px;
    overflow: hidden;
}

#loginSection{
    border-radius: 0 16px 16px 0;
    overflow: hidden;
    background-color: #e8e9ea;
    height: auto;
}

#loginSection #signInLogo{
    color: black;
    text-decoration: none;
    font-weight: bold;
    letter-spacing: 2px;
}

.backToRegistration{
    position: relative;
    left: 40px;
}
#signIn{
    font-weight: 700;
    margin-left: 20px;
    text-decoration: underline;
}

.secondForm{
    background-color: white;
    border-radius: 10px;
    z-index: 1000;
}
.secondFormSubmit{
    width: 88%;
    margin: auto;
    background-color: #151313;
    color: white;
    border: none;

}

#forgotPasswordSecondForm{
    color: grey;
}

.secondFormSubmit form label{
    font-size: 13px;
}

#container label{
     font-size: 13px;
    color: grey;
}

@media (max-width: 961px) {
    #hidePopupButton{
        top:10px;
    }
    #row1{
        height: 540px;
    }

}

@media (max-width: 700px) {
    #row1{
     position: relative;
        right: 0;
    }

}

@media (max-width: 768px) {
    #container {
        display: none;
    }

}

@media (min-width: 768px) {

    .container2{
        display: none;
    }
}